src/main/mule/mule-app-devops.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2303e9f4-50c2-45f4-982a-7aa56c67bf9e" basePath="/api" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-app-devopsFlow" doc:id="4b967bd7-cacd-4918-aea5-a58269b318b9" >
		<http:listener doc:name="Listener" doc:id="10917868-28f4-4c5a-b386-2857d9fd364a" config-ref="HTTP_Listener_config" path="/hello"/>
		<logger level="INFO" doc:name="Logger" doc:id="f19a446e-3486-48a0-8436-63f3ced320bd" message="#['hello']"/>
	</flow>
</mule>
